
.comments {
  margin-top: var(--container-padding);
  list-style: none;
}

.comment {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 0.3rem;
  margin: 0;
  font-size: 0.9rem;
}

.comment__item {
  margin-right: var(--item-padding);
}

.comment__id {
  margin-right: var(--item-padding);
  margin-right: 1rem;
  font-weight: 800;
  background-color: wheat;
}

.delete_button {
  flex-basis: 20%;
  color: var(--light-blue);
  cursor: pointer;
}

.delete_button:hover {
  color: var(--blue);
}
